* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box {
    margin-top: 130px !important;
}

.screen {
    background-color: #91ac87;
    font-family: 'Chewy', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fields select {
    background-color: #133a1b;
    border: 1px solid white;
    border-radius: 5px;
}

.fields select:focus {
    outline: none;
    border: 2px solid #91ac87;
    box-shadow: 0 0 5px #91ac87;
}

.design{
  margin-bottom: auto;
}

/* toastStyles.css */
.toast-success {
  background-color: #2e4e2b !important; /* Dark green */
  color: #ffffff !important;
  font-family: 'Chewy', cursive;
  border-radius: 12px !important;
  padding: 12px 16px !important;
}

.toast-success .Toastify__progress-bar {
  background-color: #b9cba4 !important; /* Sage green */
}

.toast-error {
  background-color: #783e3e !important; /* Muted deep red */
  color: #fff7f7 !important;
  font-family: 'Chewy', cursive;
  border-radius: 12px !important;
  padding: 12px 16px !important;
}

.toast-error .Toastify__progress-bar {
  background-color: #f6caca !important; /* Soft pinkish red */
}